<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    .wrapper {
      border: 1px dashed yellowgreen;
      padding: 1em;
      margin: 1em;
    }
  </style>
  <title>Setup</title>
</head>
<body>
<div class="wrapper">
  <h2>参数：</h2>
  <div id="id1">
    <base-section wen="fly" :button-name="label">
      <template v-slot:default>
        默认插槽
      </template>
    </base-section>
  </div>
</div>

<div class="wrapper">
  <h2>访问 property：</h2>
  <div id="id2">
    执行 setup时，组件实例尚未被创建。因此，只能访问一下 property
    <li>props</li>
    <li>attrs</li>
    <li>
      slots
    </li>
    <li>
      emit
    </li>
    换句话，无法访问以下：
    <li>data</li>
    <li>computed</li>
    <li>methods</li>
  </div>
</div>
<div class="wrapper">
  <h2>结合模板使用：</h2>
  <div id="id3">
    <base-section></base-section>
  </div>
</div>

<div class="wrapper">
  <h2>使用渲染函数：</h2>
  <div id="id4">
  </div>
</div>
<script>
  let app1 = Vue.createApp({
    data() {
      return {
        label: "超级按钮"
      }
    }
  }).component("BaseSection", {
    props: ["buttonName"],
    template: `<button>按钮<slot>默认插槽</slot></button>`,
    setup(props, {attrs,emit,slots}) {
      console.log(props.buttonName, attrs,emit,slots);
    }
  });
  app1.mount("#id1");

  let app3 = Vue.createApp({
    data() {
      return {
        name: "app3"
      }
    }
  }).component("BaseSection", {
    setup(props) {
      let count = Vue.ref(0);
      return {
        count
      }
    },
    template: `<button @click="count++">{{ count }}</button>`
  });
  app3.mount("#id3");


  let app4 = Vue.createApp({
    setup() {
      const redersNumber = Vue.ref(0);
      const book = Vue.reactive({title: "Vue 3 Guide"});
      return () => Vue.h("div",[redersNumber.value, book.title]);
    }
  });
  app4.mount("#id4");
</script>
</body>
</html>
